<div class='panel panel-primary'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle}}
    </div>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th>Location Id</th>
                    <th>Code</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="#location of locations">
                    <td><a [routerLink]="['LocationDetail', {id: location.locationId}]">{{location.locationId}}</a></td>
                    <td><a [routerLink]="['LocationDetail', {id: location.locationId}]">{{location.locationCode}}</a></td>
                    <td>{{location.address}}, {{location.city}}, {{location.state}} {{location.zipcode}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>